
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="padding-left: 15px; border-top: 1px solid black;">
    <h1>GIỚI THIỆU</h1>
    <h3>LỊCH SỬ THƯƠNG HIỆU</h3>
    <p><span>Biluxury</span> tiền thân là Bionline, là thương hiệu thời trang nam của Công ty CP thời trang Bimart, ra đời từ năm 2009, tiên phong phát triển theo hình thức chuỗi nhượng quyền và nhanh chóng đạt được nhiều thành tích ấn tượng.</p>
    <p>
        <span>Tháng 7 năm 2014</span> Biluxury ra đời. Thương hiệu là tập hợp đầy đủ các yếu tố của chuỗi với một định vị mới, một diện mạo tách biệt so với Bionline. Tính đến tháng 12/2017, chỉ sau 3 năm phát triển, Biluxury đã sở hữu 75 showroom trên
        toàn quốc trên mục tiêu 300 showroom vào năm 2019.
    </p>
    <p>Biluxury được biết đến là thương hiệu thời trang nam tiên phong trong lĩnh vực “Thời trang nam thiết kế” với phong cách sáng tạo và thanh lịch.</p>
    <p>
        Với tầm nhìn chiến lược trở thành thương thiệu <span>“Thời trang nam được yêu thích nhất Việt Nam”</span>, từ những ngày đầu bước vào thị trường, Biluxury đã rất được chú trọng việc nghiên cứu, phát triển mẫu mã, phom dáng phủ hợp với hình thể
        đàn ông Việt. Nguồn nguyên liệu được kiểm soát chặt chẽ, máy móc và trang thiết bị hiện đại là đòn bẩy cho sự phát triển bền vững của thương hiệu.
    </p>
    <p>
        Đối tượng mà Biluxury hướng tới là nam giới trong độ tuổi từ 25 đến 35 tuổi, những người đàn ông thành đạt , luôn muốn có sự cân bằng giữa phát triển sự nghiệp và tận hưởng cuộc sống. Sản phẩm của Biluxury mang tới cho phái mạnh Việt hình ảnh
        trẻ trung, năng động, hiện đại mà không kém phần lịch sự, sang trọng. Được hàng trăm nghìn khách hàng thân thiết đặt niểm tin và lựa chọn là người bạn đồng hành mỗi ngày trong công việc và cuộc sống.
    </p>
    <p>Biluxury cam kết mang lại giá trị đích thực và một cuộc sống thịnh vượng hơn cho phái mạnh Việt</p>
    <p>
        Tháng 8/2017, Bimart thành lập học viện <span>ĐÀO TẠO THỰC CHIẾN</span> (daotaothucchien.com) - địa chỉ đầu tiên những kiến thức thực chiến kinh doanh thời trang từ chính CTHĐQT công ty - Lê Xuân Tùng. Các buổi học của ĐÀO TẠO THỰC
        CHIẾN tập trung vào trao đổi, chia sẻ thẳng thắn để tìm ra cách nhanh nhất, hiệu quả nhất giải quyết vấn đề thực tiễn của học viên. Mỗi khóa học ghi nhân sự tham gia của hàng trăm học viên là chủ shop, chủ doanh nghiệp, người đam mê thời trang.
        Tính đến cuối 2017, ĐÀO TẠO THỰC CHIẾN đã tổ chức được 5 lớp đào tạo, ghi nhân sự tham dự của trên 2.000 học viên
    </p>
    <h3>MỐC THỜI GIAN</h3>
    <p><span>2009</span> Ra đời Showroom thời trang Bionline đầu tiên</p>
    <p><span>2011</span> Thành lập công ty TNHH thời trang Bionline</p>
    <p><span>2012</span> Xây dựng hệ thống xưởng sản xuất chuyên nghiệp cho Bionline</p>
    <p><span>2014</span> Ra đời thương hiệu Biluxury dành cho phân khúc thời trang nam cao cấp</p>
    <p><span>2015</span> Phát triển hệ thống hơn 20 showroom, đại lý nhượng quyền trên toàn quốc</p>
    <p><span>2016</span> Phát triển hệ thống 50 showroom và đại lý nhượng quyền trên toàn quốc</p>
    <p><span>2017</span> Mở rộng hệ thống hơn 75 showroom và đại lý nhượng quyền trên toàn quốc.</p>
    <p><span>8/2017</span> Sáng lập học viện Đào Tạo Thực Chiến</p>
    <p><span>2019</span>Mục tiêu mở 300 showroom, trở thành thương hiệu thời trang nam hàng đầu Việt Nam.</p>
    <h3>VỀ CHÚNG TÔI</h3>
    <h4>TẦM NHÌN</h4>
    <ul>
        <li>Trở thành thương hiệu thời trang nam hàng đầu được giới trẻ tin dùng</li>
    </ul>
    <h4>Sức mệnh</h4>
    <ul>
        <li>Biluxury ra đời để hoàn thành sứ mệnh đáp ứng được cho khách hàng sự hài lòng về chất lượng sản phẩm,dịch vụ bán hàng và đặc biệt là một không gian thời trang được cập nhật xu hướng mới nhất trên thế giới.</li>
    </ul>
    <h4>Gía trị cốt lõi</h4>
    <ul>
        <li>Hàng hóa đa dạng: Biluxury đem đến những sản phẩm thiết yếu và cập nhật xu hướng thời trang - đáp ứng tối đa nhu cầu của khách hàng.</li>
        <li>Giá cả đồng hành cùng chất lượng: Giá bán sản phẩm tại Biluxury luôn được kiểm soát để phù hợp, xứng đáng là địa điểm mua sắm đáng tin cậy và đem lại nhiều giá trị cho khách hàng, đồng thời thể hiện vị thế cạnh tranh so với thị trường.</li>
        <li>
            Dịch vụ chuyên nghiệp và tận tâm: Biluxury luôn có nhiều chương trình ưu đãi và dịch vụ hấp dẫn được thiết kế riêng dành cho khách hàng. Đến với Biluxury, khách hàng sẽ luôn được phục vụ tận tình bởi đội ngũ nhân viên tận tâm, nhiệt huyết,
            được trải nghiệm và tận hưởng các sản phẩm mới trong không gian hiện đại, sang trọng <br> Hệ thống phân phối rộng khắp: Mạng lưới showroom, đại lý nhượng quyền trải rộng ngay tại các khu dân cư, cùng không gian mua sắm được thiết kế và
            bài trí khoa học, tiện lợi.
        </li>
    </ul>
    <h4>TRIẾT LÝ KINH DOANH</h4>
    <ul>
        <li><span>Với khách hàng:</span> BILUXURY luôn quan tâm đến lợi ích của khách hàng và không ngừng mở rộng hệ thống phân phối để đáp ứng tốt nhất nhu cầu của khách hàng: nhanh nhất, tiện lợi nhất, chất lượng tốt nhất, giá rẻ nhất. </li>
        <li><span>Với đối tác:</span> BILUXURY luôn đưa ra mức chiết khấu tốt nhất và ngày càng có các mức chiết khấu tốt hơn cho đối tác của mình, với phương châm hợp tác đôi bên cùng có lợi, cùng tiến bước đi lên.</li>
        <li>
            <span>Với nhân viên:</span> BILUXURY luôn quan tâm tới đời sống vật chất và tinh thần làm việc cho nhân viên. Công ty luôn coi con người là tài sản quý giá nhất. Vì vậy, yếu tố con người luôn được quan tâm hàng đâu. Công ty tạo điều kiện,
            tổ chức đào tạo, cử đi đào tạo để phát huy tối đa tiềm năng của từng vị trí. Xây dựng một môi trường làm việc tốt nhất để nhân viên phát huy hết năng lực của mình
        </li>
    </ul>
    <h4>VĂN HÓA BILUXURY</h4>
    <p>Biluxury là 1 gia đình đoàn kết, sáng tạo, nỗ lực tạo giá trị mới cho khách hàng.</p>
    <p>Mọi thông tin quý khách xin vui lòng liên hệ:</p>

    <ul>
        <li>
            Hotline CSKH: 0975 431 485
        </li>
        <li>
            Hotline đăng ký làm đại lý: Mr.Nam 0975 431 85
        </li>
    </ul>
</div>

