
@{
    ViewBag.Title = "HTCuaHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Hệ thống cửa hàng</li>
        </ol>
    </nav>
</div>

<div class="container">
    <p><strong>I - CHI NHÁNH&nbsp;BILUXURY TẠI HÀ NỘI:</strong></p>
    <div class="img-hover">
        <p style="text-align: justify;"><strong>1, Biluxury Chùa Bộc: Số 17, Chùa Bộc, Đống Đa, Hà Nội</strong></p>
        <p style="text-align: justify;"><strong>2, Biluxury Cầu Giấy: Số 337 Cầu Giấy, Cầu Giấy, Hà Nội</strong></p>
        <p><strong>3, Biluxury Cầu Giấy 2:&nbsp;217 Cầu Giấy, Dịch Vọng, Cầu giấy, Hà Nội</strong></p>
        <p style="text-align: justify;"><strong>4, Biluxury Phố Huế: 353 Phố Huế, Hai Bà Trưng, Hà Nội</strong></p>
        <p style="text-align: justify;"><strong>5, Biluxury Trần Phú: Số 51 Trần Phú, P.Văn Quán, Q.Hà Đông, TP.Hà Nội</strong></p>
        <p style="text-align: justify;"><strong>6, Biluxury Nguyễn Văn Cừ: Số 208 Nguyễn Văn Cừ, Long Biên, Hà Nội</strong></p>
        <p style="text-align: justify;"><strong>7, Biluxury Quang Trung - Hà Đông: Số 407 Quang Trung, Hà Đông, Hà Nội</strong></p>
        <p style="text-align: justify;"><strong>8, Biluxury Chúc Sơn: Số 9 Bắc Sơn, TT Chúc Sơn, Chương Mỹ, Hà Nội</strong></p>
        <p style="text-align: justify;"><strong>9, Biluxury Đông Anh: Số 247 Cao Lỗ, Đông Anh, Hà Nội</strong></p>
        <p style="text-align: justify;"><strong>10, Biluxury Sơn Tây: 314 Quang Trung - tx Sơn Tây (Gần ngã ba Quang Trung sang Cầu Trì)</strong></p>
        <p style="text-align: justify;"><strong>11, Biluxury Phan Trọng Tuệ:&nbsp;Số 41, Phan Trọng Tuệ, Xã Tả Thanh Oai, H. Thanh Trì, Tp. Hà Nội</strong></p>
        <p style="text-align: justify;"><strong>12, Biluxury Sóc Sơn:&nbsp;137 đường Núi Đôi, Huyện Sóc Sơn, Tp. Hà Nội</strong></p>
        <p style="text-align: justify;"><strong>13, Biluxury Hiệp Hòa:&nbsp;Số 17a đường 19/5 khu 3 Thị trấn Thắng, Hiệp Hòa, Bắc Giang (quán bia 2 cây sấu cũ)</strong></p>
        <p style="text-align: justify;"><strong>14, Biluxury Thị trấn Phùng:&nbsp;Số nhà 246 Phố Tây Sơn, Thị Trấn Phùng, Đan Phượng, Hà nội (Đối diện FPT Shop, gần bên xe Đan Phượng)</strong></p>
        <p style="text-align: justify;"><strong>15, Biluxury An Khánh: Số 23-24 Lô A38, KĐT Geleximco, Lê Trọng Tấn, An Khánh, Hoài Đức, HN</strong></p>
        <p style="text-align: justify;"><strong>16, Biluxury Chúc Sơn: Số 10 Hòa Sơn, Thị trấn Chúc Sơn, Chương Mỹ, HN</strong></p>
        <p style="text-align: justify;"><strong>17,&nbsp;Biluxury Vân Đình: Số nhà 322, Phố Lê Lợi, TT.Vân Đình, Huyện&nbsp; Ứng Hòa, TP Hà Nội</strong></p>
        <p style="text-align: justify;"><strong>18, Biluxury Nguyễn Văn Cừ:&nbsp;135 Nguyễn Văn Cừ, Long Biên, Hà Nội</strong></p>
        <p style="text-align: justify;"><strong>19,&nbsp;Biluxury Kim Đồng:&nbsp;33 Kim Đồng, Giáp Bát, Hoàng Mai, Hà Nội</strong></p>
        <p style="text-align: justify;"><strong>20,&nbsp;Biluxury&nbsp;Nguyễn Trãi 2:&nbsp;348-350 Nguyễn Trãi, P. Trung Văn, Nam Từ Liêm</strong></p>
        <p style="text-align: justify;"><strong>21,&nbsp;Biluxury&nbsp;Phạm Ngũ Lão:&nbsp;105 Phạm Ngũ Lão, P. Phạm Ngũ Lão, Hải Dương</strong></p>
        <p style="text-align: justify;"><strong>22,&nbsp;Biluxury Phúc Yên:&nbsp;136 Trần Hưng Đạo, Phường Trưng Trắc, Thị xã Phúc Yên, Vĩnh Phúc&nbsp;</strong></p>
        <p style="text-align: justify;"><strong>II - CHI NHÁNH BILUXURY MIỀN BẮC:</strong></p>
        <p style="text-align: justify;"><strong>1, Biluxury&nbsp;Thái Nguyên: Số 337, Đường Lương Ngọc Quyến, P.Hoàng Văn Thụ, TP. Thái Nguyên ( gần bến xe&nbsp;khách Thái Nguyên)</strong></p>
        <p style="text-align: justify;"><strong>2, Biluxury Hoàng Văn Thụ: Số 205-207 Hoàng Văn Thụ, Phan Đình Phùng, Thái Nguyên</strong></p>
        <p style="text-align: justify;"><strong>3, Biluxury&nbsp;Phổ Yên - Thái Nguyên: Số 575, Đường Phạm Văn Đồng, Ba Hàng, Phổ Yên, Thái Nguyên</strong></p>
        <p style="text-align: justify;"><strong>4,&nbsp;Biluxury&nbsp;Bắc Giang: Số 66-68 Hoàng Văn Thụ, thành phố Bắc Giang</strong></p>
        <p style="text-align: justify;"><strong>5, Biluxury Từ Sơn: Số 272 Trần Phú mới, Đình Bảng, Từ Sơn ( cạnh Điện Máy Xanh Đình Bảng)</strong></p>
        <p style="text-align: justify;"><strong>6, Biluxury Bắc Ninh:&nbsp;Số 317-319 đường Trần Hưng Đạo, tp Bắc Ninh</strong></p>
        <p style="text-align: justify;"><strong>7, Biluxury Hạ Long:&nbsp;37 Kênh Liêm, TP Hạ Long&nbsp;</strong></p>
        <p style="text-align: justify;"><strong>8, Biluxury Cẩm Phả:&nbsp;307 Trần phú, Cẩm thành, Cẩm Phả, Quảng Ninh&nbsp;</strong></p>
        <p style="text-align: justify;"><strong>9, Biluxury Mạo Khê: Số 59-61 Hoàng Hoa Thám, Phường Mạo Kê, Thị xã Đông Triều, Tp Quảng Ninh (cạnh ngân hàng Techcombank)</strong></p>
        <p><strong>10, Biluxury Lào Cai: 26B Hoàng Sào,&nbsp;&nbsp;Ngã 4 Bùng Binh (Đối diện siêu thị Thành Công)</strong></p>
        <p><strong>11, Biluxury Sơn La:&nbsp;21 Trường Chinh, P. Quyết Thắng, TP. Sơn La</strong></p>
        <p><strong>12, Biluxury Chí Linh: Số 23 Nguyễn Thái Học, Phường Sao Đỏ, TP Chí Linh , Hải Dương( đối diện trường Đại Học Sao Đỏ)</strong></p>
        <p><strong>13,&nbsp;Biluxury Uông Bí: 63 Trần Nhân Tông, P. Yên Thành, TP. Uông Bí, Quảng Ninh</strong></p>
        <p><strong>14, Biluxury Gang Thép - Thái Nguyên: Số 554/1 đường CMT8, Tổ 12, P.Trung Thành, TP Thái Nguyên</strong></p>
        <p><strong>15, Biluxury Ninh Bình: Số 93 Lê Hồng Phong, TP Ninh Bình (Đối diện Điện máy Pico)</strong></p>
        <p><strong>16, Biluxury Nho Quan: phố Phong Lạc, TT Nho Quan (cạnh Điện lực Nho Quan), Ninh Bình</strong></p>
        <p><strong>17, Biluxury Yên Khánh: Số nhà 394, phố 2, thị Trấn Yên Ninh, huyện Yên Khánh, Yên Ninh, Hà Nam Ninh</strong></p>
        <p><strong>18, Biluxury Yên Định: Số 75 - Khu 3 - TT Yên Định ( gần cầu Yên Định ), Nam Định</strong></p>
        <p><strong>19, Biluxury Phủ Lý: 80 Đường Biên Hòa, Phủ Lý, Hà Nam</strong></p>
        <p><strong>20, Biluxury Nam Định: 340 Đường Điện Biên, TP Nam Định</strong></p>
        <p><strong>21, Biluxury Lâm Thao: Khu Tân Tiến - TT Lâm Thao - huyện Lâm Thao - tỉnh Phú Thọ</strong></p>
        <p><strong>22, Biluxury Phù Yên - Sơn La 2: Số 169, Khối 14, TT Phù Yên, Phù Yên, Sơn La (đối diện cổng chợ trung tâm)</strong></p>
        <p><strong>23, Biluxury Điện Biên: Số 19A Nguyễn Chí Thanh, Tổ 12, phường Mường Thanh, TP Điện Biên Phủ</strong></p>
        <p><strong>24, Biluxury Từ Sơn: Số 272 Trần Phú mới, Đình Bảng, Từ Sơn ( cạnh Điện Máy Xanh Đình Bảng)</strong></p>
        <p><strong>25, Biluxury Hòa Bình: Toà nhà xổ số, đường Lê Thánh Tông, TP Hoà Bình ( Đối diện Trung tâm tiệc cưới Diamond)&nbsp;&nbsp;</strong></p>
        <p><strong>26, Biluxury Lập Thạch: Ngô Gia Tự - Thị trấn Lập Thạch - huyện Lập Thạch - Vĩnh Phúc</strong></p>
        <p><strong>27, Biluxury Hưng Yên: 45 Đường Điện Biên, TP Hưng Yên</strong></p>
        <p><strong>28, Biluxury Vĩnh Yên: 178 Mê Linh, Vĩnh Yên</strong></p>
        <p><strong>29, Biluxury Hải Phòng: 309 đường Lê Lợi, TP Hải Phòng ( gần ngã ba Chu Văn An giao Lê Lợi)</strong></p>
        <p><strong>30, Biluxury Diêm Điền: Số nhà 296 khu 6, Thị trấn Diêm Điền, Thái Bình</strong></p>
        <p><strong>31, Biluxury Phố Nối: 27 Phố Nối – Mỹ Hào – Hưng Yên (cách ngã tư Phố Nối 50m)</strong></p>
        <p><strong>32, Biluxury Giao Thủy: Tổ dân Phố 4B, Thị trấn Ngô Đồng, Giao Thuỷ, Nam Định, ( cạnh nhà văn hoá huyện Giao Thuỷ)</strong></p>
        <p><strong>33, Biluxury Thái Bình: 82 Lê Lợi, TP Thái Bình</strong></p>
        <p><strong>III - CHI NHÁNH BILUXURY MIỀN TRUNG:</strong></p>
        <p style="text-align: justify;"><strong>1,&nbsp;Biluxury Đà Nẵng: 416 Lê Duẩn, Tp. Đà Nẵng</strong></p>
        <p style="text-align: justify;"><strong>2. Biluxury Vinh: Số 259 Hà Huy Tập, Phường Hà Huy Tập, TP Vinh</strong></p>
        <p style="text-align: justify;"><strong>3.&nbsp;Biluxury Cửa Lò: 63 Nguyễn Xí, Phường Thu Thủy, Thị xã Cửa Lò</strong></p>
        <p><strong>4. Biluxury Thanh Hóa: Số 77 Cao Thắng, P.Lam Sơn, TP Thanh Hóa, T.Thanh Hóa</strong></p>
        <p><strong>5. Biluxury Bỉm Sơn - Thanh Hóa: Số 94 Nguyễn Huệ, P. Ngọc Trạo, TX Bỉm Sơn, T.Thanh Hóa</strong></p>
        <p><strong>6. Biluxury Triệu Sơn – Thanh Hóa: Số 330 Phố Giắt, thị trấn Triệu Sơn, Thanh Hóa</strong></p>
        <p><strong>7. Biluxury Lam Sơn: khu 3 thị trấn Lam Sơn, Thọ Xuân, Thanh Hóa</strong></p>
        <p><strong>8. Biluxury Vinh - Nghệ An: Số 93 Minh Khai, TP.Vinh</strong></p>
        <p><strong>9. Biluxury Đô Lương - Nghệ An: Khối 4 thị trấn Đô Lương</strong></p>
        <p><strong>10. Biluxury Hà Tĩnh: Số 50 Trần Phú - TP.Hà Tĩnh</strong></p>
        <p><strong>11. Biluxury Pleiku - Gia Lai: Số&nbsp; 461 Hùng Vương, TP Pleiku, Gia Lai</strong></p>
        <p><strong>12. Biluxury Đà Nẵng: Số 270 Điện Biên Phủ, Đà Nẵng</strong></p>
        <p><strong>13. Biluxury Quảng Ngãi: 469 Quang Trung, P.Nguyễn Nghiêm, TP. Quảng Ngãi</strong></p>
        <p><strong>14. Biluxury Quảng Trị: 106 Hùng Vương, Đông Hà, Quảng Trị</strong></p>
        <p><strong>15, Biluxury Quảng Trị: 55 Hùng Vương, thị trấn Khe Sanh, huyện Hướng Hóa, tỉnh Quảng Trị</strong></p>
        <p><strong>16, Biluxury Thái Hòa: 62 Nguyễn Trãi, Thái Hòa, Nghệ An</strong></p>
        <p><strong>17, Biluxury Nam Đàn: 207 đường quốc lộ 46, khối Xuân Khoa, thị trấn Nam Đàn, huyện Nam Đàn, tỉnh Nghệ An (đối diện vàng bạc Trường Kỳ Tuấn)</strong></p>
        <p><strong>18, Biluxury Quỳ Hợp: Khối 20, Thị trấn Quỳ Hợp, Huyện Quỳ Hợp (Đối diện vàng bạc Trung Hải)</strong></p>
        <p><strong>19, Biluxury Đà Nẵng: 416 Lê Duẩn, Tp. Đà Nẵng</strong></p>
        <p style="text-align: justify;"><strong>IV - CHI NHÁNH BILUXURY MIỀN NAM:</strong></p>
        <p><strong>1/ Biluxury Lê Văn Sỹ: 206B Lê Văn Sỹ, P.10, Q. Phú Nhuận, TP.HCM</strong></p>
        <p><strong>2/&nbsp;Biluxury Đồng Hới: 156 Đường Trần Hưng Đạo, TP Đồng Hới, Quảng Bình</strong></p>
        <p><strong>3/ Biluxury CMT8: 808 CMT8 P.5, Quận Tân Bình , HCM</strong></p>
        <p><strong>4/ Biluxury Phan Đình Phùng: 241C Phan Đình Phùng, Q. Phú Nhuận</strong></p>
        <p><strong>5/ Biluxury Nguyễn Trãi: 28 Nguyễn Trãi, Phường 3, Quận 5</strong></p>
        <p><strong>6/ Biluxury Quang Trung: 223 Quang Trung, P 10, Quận Gò Vấp</strong></p>
        <p><strong>7/ Biluxury Huỳnh Tấn Phát: 317 Huỳnh Tấn phát, P.Tân Thuận Đông, Quận 7, TP.HCM</strong></p>
        <p><strong>8/ Biluxury Hố Nai: 648 Nguyễn Ái Quốc, P Hố Nai, Biên Hòa (Đối diện trường tiểu học Nguyễn Tri Phương)</strong></p>
        <p><strong>9/ Biluxury Phạm Văn Thuận: Số 1337 Phạm Văn Thuận, P Thống Nhất, TP Biên Hoà ( Đối diện trà sữa Sencha)</strong></p>
        <p><strong>10/ Biluxury Võ Thị Sáu: R67 đường Võ Thị Sáu ( đường 5 mới),P. Thống Nhất, Biên Hoà ( Đối diện Lẩu Neo)</strong></p>
        <p><strong>11/ Biluxury Nguyễn Ái Quốc: 1875 đường Nguyễn Ái Quốc, P. Tân Tiến, TP. Biên Hoà ( Đối diện nhà thi đấu)</strong></p>
        <p><strong>12/ Biluxury Long Thành: 314 Lê Duẩn, Thị Trấn Long Thành (Gần đối diện Long Thành Plaza)</strong></p>
        <p><strong>13/ Biluxury Long Khánh: 26A Nguyễn Bỉnh Khiêm, phường Xuân An, Long Khánh (đối diện UBND phường Xuân An)</strong></p>
        <p><strong>14/ Biluxury TP Vũng Tàu: 131 Bacu, Phường 4, Tp Vũng Tàu</strong></p>
        <p><strong>15/ Biluxury Tân Thành: 94. Độc Lập, Phường phú mỹ, Thị Xã Phú Mỹ (Đối diện nhà sách phú mỹ)</strong></p>
        <p><strong>16/ Biluxury Yersin: 55 Yersin , P.Phú Cường , Tp. Thủ Dầu Một</strong></p>
        <p><strong>17/ Biluxury Thủ Dầu Một: Số 7, Lô NP5, Đường 30/4, P.Phú Hoà, Tp.TDM</strong></p>
        <p><strong>18/ Biluxury Tp Vĩnh Long: Số 43, Phạm Thái Bường, Phường 4, TP.Vĩnh Long</strong></p>
        <p><strong>19/ Biluxury Tp Đồng Xoài: Số 6 Hùng Vương, Đồng Xoài, Bình Phước (Gần ngã 3 Hùng Vương)</strong></p>
        <p><strong>20/ Biluxury Pleiku: 461 Hùng Vương - Pleiku - Gia Lai</strong></p>
        <p><strong>21/ Biluxury Hậu Nghĩa: 16/27 Nguyễn Trung Trực, Thị Trấn Hậu Nghĩa, Huyện Đức Hòa, Long An</strong></p>
        <p><strong>22/ Biluxury Tp Mỹ Tho: Số 106, Nguyễn Thị Thập, Phường 10, Tp.Mỹ Tho</strong></p>
        <p><strong>23/ Biluxury Lê Văn Sỹ: 206B Lê Văn Sỹ, P.10, Q. Phú Nhuận, TP.HCM</strong></p>
        <p><strong>VI - ĐIỂM PHÂN PHỐI SIÊU THỊ:</strong></p>
        <p><strong>1, Siêu thị Lan Chi Mart&nbsp; Thường Tín - Hà Nội: TT Thường Tín, H.Thường Tín, TP Hà Nội</strong></p>
        <p><strong>2, Siêu thị Ba Vì - Hà Nội: Hưng Đạo, Tây Đằng, Ba Vì, Hà Nội</strong></p>
        <p><strong>3, Siêu thị Lan Chi Lục Quân - Hà Nội: Đoàn Kết, Cổ Đông, Sơn Tây, Hà Nội</strong></p>
        <p><strong>4, Siêu thị Lan Chi Chợ Nghệ - Hà Nội: Phùng Khắc Khoan, Quang Trung, Sơn Tây, Hà Nội</strong></p>
        <p><strong>5, Siêu thị Lan Chi Lý Nhân - Hà Nam : Đường Trần Hưng Đạo, TT Vĩnh Trụ, Lý Nhân, Hà Nam</strong></p>
        <p><strong>6, Siêu thị Lan Chi Đồng Văn - Hà Nam : Đồng Văn, Hà Nam</strong></p>
        <p><strong>7, Siêu thị Lan Chi Chí Linh - Hải Dương: Chợ Sao Đỏ, Chí Linh, Hải Dương</strong></p>
        <p><strong>8, Siêu thị Lan Chi Tam Điệp - Ninh Bình: Đường Quyết Thắng, P.Trung Sơn, TP Tam Điệp, T.Ninh Bình.</strong></p>
        <p><strong>9, Siêu thị Lan Chi Phổ Yên - Thái Nguyên:&nbsp; Phổ Yên, Thái Nguyên</strong></p>
        <p><strong>10, Siêu thị Lan Chi Hoàng Diệu - Hà Nội: Số 68 Hoàng Diệu, Quang Trung, Sơn Tây, Hà Nội</strong></p>
        <p><strong>11, Siêu thị Lan Chi Xuân Khanh - Hà Nội: Số 74 Xuân Khanh, TX Sơn Tây, Hà Nội</strong></p>
        <p><strong>12, Siêu thị Lan Chi Xuân Mai - Hà Nội: TT Xuân Mai, Chương Mỹ, Hà Nội</strong></p>
        <p><strong>13, Siêu thị Lan Chi Chúc Sơn - Hà Nội: TT Chúc Sơn, Chương Mỹ, Hà Nội</strong></p>
        <p><strong>14, Siêu thị Lan Chi Đan Phượng - Hà Nội : Tượng Đài Cô Gái Đảm Đang, Phùng, Đan Phượng, Hà Nội</strong></p>
        <p><strong>15, Siêu thị Lan Chi Phú Xuyên - Hà Nội: Tiểu khu Phú Mỹ, TT Phú Xuyên, H.Phú Xuyên, Hà Nội</strong></p>
        <p><strong>16, Siêu thị Từ Sơn - Bắc Ninh: Minh Khai, Đồng Nguyên, Từ Sơn, Bắc Ninh</strong></p>
        <p><strong>17, Siêu thị Aeon Long Biên - Hà Nội: Số 27 đường Cổ Linh, Phường Long Biên, Q.Long Biên, Hà Nội</strong></p>
        <p><strong>18, Siêu Thị Thành Đô Hồ Tùng Mậu- Hà Nội : Số 306 Hồ Tùng Mậu, Hà Nội</strong></p>
        <p><strong>19, Siêu Thị Thành Đô Giải Phòng - Hà Nội: Số 352 Giải Phóng, Hà Nội</strong></p>
        <p><strong>20, Siêu Thị Thành Đô Lạc Trung - Hà Nội: Số 27 Lạc Trung Hai Bà Trưng</strong></p>
        <p><strong>21, Siêu Thị Thành Đô 2 - Lạng Sơn :&nbsp; TT Tân Thanh, T.Lạng Sơn</strong></p>
        <p><strong>22, Siêu Thị Thành Đô - Thái Nguyên: Số 02 đường Minh Cầu, TP Thái Nguyên</strong></p>
        <p><strong>23, Siêu thị Vinmart Nguyễn Trãi - Hà Nội: Nguyễn Trãi, Thanh Xuân, Hà Nội</strong></p>
        <p><strong>24, Siêu thị Vinmart Minh Khai - Hà Nội: Đường Minh Khai, Hai Bà Trưng, Hà Nội</strong></p>
        <p><strong>25, Siêu Thị Vinmart Bà Triệu - Hà Nội: Tầng 3 - 191 Bà Triệu, Phường Lê Đại Hành, quận Hai Bà Trưng, Hà Nội</strong></p>
    </div>
    <p> </p>
</div>

