
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listsp = ViewBag.listsp;
}

<div class="row justify-content-center" style="padding-top: 50px">
    @foreach (var item in listsp)
    {
        <div class="card col-3 text-center" style="padding: 50px 25px 5px 25px; border: none;">
            <img src="~/imgs/somi.png" class="card-img-top" alt="...">
            <div class="card-body text-lg-center">
                <div class="product-info">
                    <div class="product-title" style="font-size: small;">
                        <a class="a-product" href="#">@item.TenSP</a>
                    </div>
                    <div class="product-price">
                        <span class="current-price">$ @item.Gia</span>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-dark"><i style="margin-right: 15px;" class="fas fa-eye"></i>Xem chi tiết</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

