
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="col">
            <h1 class="text-center">TẠO TÀI KHOẢN</h1>
            <br>
            <form class="text-center" style="margin: 0 auto; width: 400px;">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Tên">
                </div>
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Họ">
                </div>
                <br>
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <br>
                <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mật khẩu">
                </div>
                <br>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark">ĐĂNG KÍ</button>
                </div>
                <div>
                    <a class="list-group-item list-group-item-action border-white" href="#">Trở về</a>
                </div>
            </form>
        </div>
    </div>
</div>

