
@{
    ViewBag.Title = "AddSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LoyoutAdmin.cshtml";
}

<div class="container-fluid">
    <form class="row g-3">
        <div class="col-md-2">
            <label class="form-label" >Mã sản phẩm</label>
            <input type="number" class="form-control">
        </div>
        <div class="col-md-4">
            <label class="form-label">Tên sản phẩm</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-2">
            <label class="form-label">Nhà cung cấp</label>
            <div class="input-group">
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <label class="form-label">Loại sản phẩm</label>
            <div class="input-group">
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <label class="form-label">Giá</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-12">
            <label class="form-label">Chất liệu</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-8">
            <label for="inputCity" class="form-label">Kiểu dáng</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-2">
            <label class="form-label">Xuất xứ</label>
            <select class="form-select">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="col-md-2">
            <label class="form-label">Size</label>
            <select class="form-select">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="col-12">
            <label for="inputCity" class="form-label">Notes</label>
            <textarea class="form-control" name="" id="" cols="30" rows="5"></textarea>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Thêm</button>
        </div>
    </form>
</div>

