
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoadSelect</title>
    <link rel="stylesheet" type="text/css" href="~/Asset/CSS/SlideSelect.css" />
</head>
<body>
    <div class="test">
        <a href="/Admin/HomeAdmin/Login?">
            <span></span>
            <span></span>
            <span></span>
            <span></span> Admin
        </a>

        <a href="/Admin/HomeAdmin/Login?">
            <span></span>
            <span></span>
            <span></span>
            <span></span> Nhân viên
        </a>

        <a href="/Home/Login?">
            <span></span>
            <span></span>
            <span></span>
            <span></span> Khách hàng
        </a>
    </div>
</body>
</html>
